{{define "content"}}
  <h4 class="title">
    <div class="normal-title">
        <a class="" href="/sign_in">登录</a>
        <b>·</b>
        <a id="js-sign-up-btn" class="active" href="/sign_up">注册</a>
    </div>
  </h4>

  <div class="js-sign-up-container">
    {{if .err}}<div class="error" style="margin-bottom: 10px; color: red;">{{.err}}</div>{{end}}
    <form class="new_user" id="new_user" action="/user/register" accept-charset="UTF-8" method="post">
        <input type="hidden" name="authenticity_token" value="8/wfWbu4VQG5cPB33UOn0xPIrOJF271GHO5acxZDLBzssobl1kdqm+JjqC8SJJqgIzw0O/TBe6ES/R/2ulqqjQ==" />
      <div class="input-prepend restyle">
          <input placeholder="你的昵称" type="text" value="{{.user.Nickname}}" name="nickname" id="user_nickname" />
        <i class="iconfont ic-user"></i>
      </div>
      <div class="input-prepend restyle no-radius js-normal">
          <input placeholder="邮箱" type="email" name="email" id="user_email" value="{{.user.Email}}" />
        <i class="iconfont ic-email"></i>
      </div>
      <input type="hidden" name="security_number" id="security_number" />
      <div class="input-prepend">
        <input placeholder="设置密码" type="password" name="passwd" id="user_password" value="{{.user.Passwd}}" />
        <i class="iconfont ic-password"></i>
      </div>
      <input type="submit" name="commit" value="注册" class="sign-up-button" id="sign_up_btn" data-disable-with="注册" />
      <p class="sign-up-msg">点击 “注册” 即表示您同意并愿意遵守简书<br> <a target="_blank" href="http://www.jianshu.com/p/c44d171298ce">用户协议</a> 和 <a target="_blank" href="http://www.jianshu.com/p/2ov8x3">隐私政策</a> 。</p>
    </form>
    <!-- 更多注册方式 -->
    <div class="more-sign">
      <h6>社交帐号直接注册</h6>
      <ul>
        <li><a id="weibo" class="weibo" target="_blank" href="/user/auth/weibo"><i class="iconfont ic-weibo"></i></a></li>
      </ul>
    </div>
  </div>
{{end}}
css 模块
{{define "css"}}{{end}}
js 模块
{{define "js"}}{{end}}
上面几个模块，只有主体部分是必须的，其他部分在咱们的 Renderer 中会给默认值。

注册页面的 Controller
在 http/controller 目录下增加 user.go 文件，存放用户相关的处理器。内容如下（省略 import 等）：

type UserController struct{}

// RegisterRoute 管理 UserController 的路由
func (u UserController) RegisterRoute(g *echo.Group) {
    g.GET("/sign_up", u.signUp)
    g.POST("/user/register", u.register)
}

func (u UserController) signUp(ctx echo.Context) error {
    return render.NoNavRender(ctx, "user/sign_up.html", nil)
}

func (u UserController) register(ctx echo.Context) error {
    return nil
}
